# Ignore all node_modules directories
node_modules/

# Ignore logs and cache files
*.log
.cache/

# Ignore compiled JavaScript files
*.min.js

# Ignore editor/IDE specific files and directories
.vscode/
.idea/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore compiled TypeScript files
*.js
*.js.map

# Ignore Grunt intermediate storage
.grunt/

# Ignore compiled Dart files
.dart_tool/

# Ignore compiled Lua files
*_out/

# Ignore SASS cache
.sass-cache/

# Ignore Meteor local files
.meteor/local

# Ignore Vue.js, Next.js, and other specific directories
/dist
/node_modules
/.next/

# Don't ignore script.js
!script.js
